.container {
  display: flex;
  flex-wrap: wrap;
}
.flashcards {
  margin: auto;
  /* display: flex; */
  /* flex: 1 1 1; */
  margin: 20px;
  width: 450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  align-content: center;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
}

.selected {
  background-color: brown;
}
